/* Universal styles */
*,*::before, *::after {
    box-sizing: border-box;
    margin: auto;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}
/* Variables created for color scheme */
:root {
    --primary: #000000;
    --secondary: #1E90FF;
    --accent: #F5F5F5;
}
body {
    line-height: 1.5;
    color: black;
}
/* Header styles lines 18-25 in index.html */
header {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px 15px;
    z-index: 1;
    top: 0;
}
header a {
    text-decoration: none;
    color: var(--secondary);
}
header p {
    font-weight: bold;
}
/* Header styles ended */

/* Main and section styles begin */
main section  {
    padding: 20px 120px;
}
main section h1 {
    font-weight: bold;
    font-size: 25px;
} 
main section p {
    font-size: 15px;
    font-weight: bold;
}
/* Main and section styles end */

/* Initiate Test Button */
#initiateTest {
    background-color: var(--secondary);
    color: var(--accent);
    margin-top: 5px;
    border: var(--accent);
    border-radius: 5px;
    padding: 10px 20px ;
    font-size: large;
}
#initiateTest:hover {
    filter: hue-rotate(-35deg);
}
#initiateTest:active {
    filter: hue-rotate(-50deg);
}
/* Inititate Test Button styles end */

